name: chat_ui_lab
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flutter_gemini: ^3.0.0
  http: ^1.1.0
  provider: ^6.0.5
  shared_preferences: ^2.2.2
  uuid: ^4.0.0
  intl: ^0.20.2
  image_picker: ^1.0.7
  share_plus: ^10.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  generate: true
